:root {
  --clr-grey: #737E82;
  --clr-black: #444444;
}

/* Box-sizing reset: //w3bits.com/?p=3225 */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background-image: url(bg2.jpg);
  background-size: contain;
}

.header #header-img {
  width: 100%;
}

.header .title {
  text-align: center;
}

.header .subtitle {
  text-align: center;
}

/*
$primary: #11998e;
$secondary: #38ef7d;
*/
form {
  /* reset input */
}

form .form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 100%;
  border: 1px solid var(--clr-grey);
}

form .form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: black;
  padding: 7px 0;
  background: transparent;
  -webkit-transition: border-color 0.2s;
  transition: border-color 0.2s;
}

form .form__field::-webkit-input-placeholder {
  color: transparent;
}

form .form__field:-ms-input-placeholder {
  color: transparent;
}

form .form__field::-ms-input-placeholder {
  color: transparent;
}

form .form__field::placeholder {
  color: transparent;
}

form .form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

form .form__label {
  position: absolute;
  top: 0;
  display: block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}

form .form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  -o-border-image: linear-gradient(to right, var(--clr-black), #F1D2B0);
     border-image: -webkit-gradient(linear, left top, right top, from(var(--clr-black)), to(#F1D2B0));
     border-image: linear-gradient(to right, var(--clr-black), #F1D2B0);
  border-image-slice: 1;
}

form .form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 1rem;
  color: var(--clr-black);
  font-weight: 700;
}

form .form__field:required, form .form__field:invalid {
  -webkit-box-shadow: none;
          box-shadow: none;
}

form .submit-wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
}

form .submit-wraper .submit {
  width: 80%;
  height: 100%;
  font-size: 3rem;
  border-radius: 35px;
  background-color: var(--clr-grey);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

form .submit-wraper .submit:hover {
  background-color: var(--clr-black);
  color: white;
}

.section-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-1 .img-wraper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.section-1 .img-wraper img {
  padding: 20px;
  width: calc(100% - 40px);
}

.section-1 .content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 2rem;
}

.section-1 .content p {
  font-size: larger;
}

.section-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-2 .cta {
  font-size: 4rem;
  text-align: center;
}

.section-2 .cta .phone {
  color: var(--clr-grey);
}

.section-2 .cta .phone:hover {
  text-decoration: underline;
}

.section-2 form {
  min-width: 750px;
}

.galery {
  /* The Masonry Brick */
  /* Masonry on large screens */
  /* Masonry on medium-sized screens */
  /* Masonry on small screens */
}

.galery .masonry {
  margin: auto;
  max-width: 768px;
}

.galery .item {
  background: #fff;
}

@media only screen and (min-width: 1024px) {
  .galery .masonry {
    -webkit-column-count: 4;
            column-count: 4;
  }
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .galery .masonry {
    -webkit-column-count: 3;
            column-count: 3;
  }
}

@media only screen and (max-width: 767px) and (min-width: 540px) {
  .galery .masonry {
    -webkit-column-count: 2;
            column-count: 2;
  }
}

.section-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-3 .cta {
  font-size: 4rem;
  text-align: center;
}

.section-3 .cta .phone {
  color: var(--clr-grey);
}

.section-3 .cta .phone:hover {
  text-decoration: underline;
}

.section-3 form {
  min-width: 750px;
}

.section-4 .header {
  font-size: 3rem;
  text-align: center;
}

.section-4 .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.section-4 .content .part-1 {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  font-size: 2rem;
}

.section-4 .content .part-1 li {
  padding-bottom: 7px;
}

.section-4 .content .part-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.section-4 .content .part-2 img {
  width: 100%;
}

.vid {
  padding: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.resist {
  text-align: center;
  font-size: 2rem;
}

.fotter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fotter img {
  padding-top: 100px;
  padding-bottom: 100px;
  max-width: 250px;
}
/*# sourceMappingURL=style.css.map */